{% include 'commons/head.html' %}
{% include 'commons/pageHeader.html' %}
    <div class="container">
        <div class="row g-3">
            <div class="col-md-4 col-lg-4 order-md-last">
                <div class="row">
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="friendName" name="friendName" placeholder="User name or id">
                    </div>
                    <div class="col-sm-3">
        
                    </div>
                    <div class="col-sm-4">
                        <button type="submit" id="searchFriend" class="w-90 btn btn-sm btn-primary">Search Friend</button>
                    </div>
                </div>
                <div id="friends">
                    
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="row">
                    <h3>My friends</h3>
                </div>
                <div class="row">
                    <div id = "myFriends">
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-4">
                <div class="row">
                    <h3>Pending requests</h3>

                </div>
                <div class="row">
                    <div id="pendingRequests">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-sm w-70" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
    </button>
    <a href="#" data-toggle="modal" data-target="#exampleModal">Click here to get modal</a>
    <div data-toggle="modal" data-target="#exampleModal">
        Click here to see modal
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Awesome Ayon</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                    &times;
                </span>
            </button>
            </div>
            <div class="modal-body">
                Ayon is awesome
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary">
                    Save changes
                </button>
            </div>
        </div>
        </div>
    </div>
   
{% include 'commons/pageFooter.html' %}
{% include 'commons/footer.html' %}

<!-- pending friend request thakbe -->