#createGameBlock{
    margin-top: 20px;
}

.goToGameButton, .gameData, .gameTitleBlock, .gameIconBlock, .gamePathBlock, .numberOfPlayersBlock, .gameTitleHeaderBlock, .gameIconHeaderBlock, .gamePathHeaderBlock, .numberOfPlayersHeaderBlock{
    display: flex;
    justify-content: center;
}