{% include 'commons/head.html' %}
{% include 'commons/pageHeader.html' %}
<div class="container">
    <div class="row">
        <div class="col-sm-2 gameTitleHeaderBlock">
            Game Title
        </div>
        <div class="col-sm-2 gameIconHeaderBlock">
            Game Icon
        </div>
        <div class="col-sm-2 gamePathHeaderBlock">
            Game Path
        </div>
        <div class="col-sm-2 numberOfPlayersHeaderBlock">
            Number of Players
        </div>
    </div>
    <div class="gameBlock">

    </div>
</div>
<div class="imageBlock">
    
</div>
{% include 'commons/pageFooter.html' %}
<script src="/static/javascript/game/showGame.js"></script>
{% include 'commons/footer.html' %}