{% include 'user/head.html' %}
{% include 'user/bodyHeader.html' %}
{% include 'user/loginFormHeader.html' %}
{% include 'user/pageHeader.html' %}
{% if  'Failed to login!' in errorMessage %}
    {% include 'user/authenticateUserError.html' %}
    {% include 'user/emailBlock.html' %}
    {% include 'user/passwordBlock.html' %}
    {% include 'user/button.html' %}
    {% include 'user/newAccountDirectLink.html' %}
    {% include 'user/loginFormFooter.html' %}
    {% include 'user/bodyFooter.html' %}
{% elif '' in errorMessage %}
    {% include 'user/emailBlock.html' %}
    {% include 'user/passwordBlock.html' %}
    {% include 'user/button.html' %}
    {% include 'user/newAccountDirectLink.html' %}
    {% include 'user/loginFormFooter.html' %}
    {% include 'user/bodyFooter.html' %}
{% endif %}